/* App.css */
.App {
  background: url('./background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10; /* make sure navbar is on top */
  
}
.navbar-nav-custom {
  margin-left: auto !important;
  margin-right: 250px;
  color : white !important;
  font-size: 1.5rem; 
  padding: 0.5rem;  
}
.brand-custom{
  margin-top: 50px;
  margin-left: 70px;
  color: white !important;
}

.item-custom{
  color: white !important;
}
.navbar-nav-custom .nav-item a {
  transition: transform 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.navbar-nav-custom .nav-item a:hover {
  color: #007BFF; /* Adjust the color as you like. This is a typical blue for hover effects */
  transform: scale(1.6); /* Slightly increase size on hover */
}